/**
* --------------------------------
* Header
* --------------------------------
*/

#header {
    grid-area: header;
    position: sticky;
    top: 0;
    height: 100px;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    box-sizing: border-box;
}
