@charset "utf-8";

@import
    "./utils/_variable",
    "./utils/_function",
    "./utils/_mixin";

/**
* --------------------------------
* Sub1
* --------------------------------
*/

.div {
    width: 100px;
    height: 100px;
    background-image: url({{dirRoot}}/resources/images/common/jpg.webp);
}